extends layout

block content
  h1 游닍 Vica Design system 
    =version
  p.secondary_action Bienvenido al sistema de dise침o de Vica, aqu칤 podras encontrar todo lo necesario para poder hacer el uso del la l칩gica de los guidelines para el producto, este documento esta basado en la documentaci칩n de los 
    a.green_brand.bold(href="https://www.notion.so/rulotico/Design-system-1bdbab2c4c354f80944c1fb93d3743ff" target="_blank") guidelines
  hr
  p
    a.green_brand.bold(href="http://localhost:3000/stylesheets/style_main_0.0.0.min.css") Design System API
  hr
  br
  p Este documento esta creado para:
  h3.mymove 游뇏ise침adores
  h3 游녭Programadores