#div2 {
  -webkit-backface-visibility: visible; /* Safari */
  backface-visibility: visible;
}
.test {
  color: white;
}
.test .test2 {
  color: black;
}

h1 {
  color: aqua;
  background-color: black;

}
